@import url('https://fonts.googleapis.com/css2?family=Roboto:display=swap');

$darkblue: #03273b;
$salmon: #ff6b6b;
$papaya: #eb6314;
$marigold: #ffe66d;
$turquoise: #4ecdc4;
$magenta: #de3b67;
$white: #f7fff7;
$mint: #2dc293;

body {
  background-color: $darkblue;
  margin: 0;
  padding: 0;
  color: $white;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $salmon;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  color: $salmon;
  padding: 20px;
}

/* nav bar */
nav {
  background-color: lighten($darkblue, 2%);
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0px 40px;
  h1 {
    padding: 0px;
    font-size: 40px;
    font-weight: 900;
    display: inline-block;
    a {
      color: $turquoise;
    }
  }
  .links a {
    display: inline-block;
    color: $salmon;
    font-size: 18px;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    @media screen and (max-width: 790px) {
      display: none;
    }
  }
}

//side bar//
.sidebarContainer a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 50px;
  color: $darkblue;
  display: block;
  align-self: flex-start;
}

.sidebarContainer a:hover {
  color: $salmon;
}

.main {
  margin-left: 40px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

//HOME CONTENTS

/*contents top 1/3  of home page*/
.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 40px 40px 40px;
  margin: 40px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  flex: 1;
  justify-content: center;
  background-color: lighten($darkblue, 2%);
  border-radius: 10px;
  h2 {
    font-weight: 900;
    margin-bottom: 40px;
  }
}

.codebox {
  background-color: darken($darkblue, 4%);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  // max-width: 500px;

  code {
    color: $white;
  }

  .greyout {
    opacity: 0.5;
  }

  .salmon {
    color: $salmon;
  }
}

// homepage section container
.homepageSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
  text-align: center;
  flex: 1;
  justify-content: center;
}

.cardGrid {
  display: grid;
  margin: 0px 40px;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  @media screen and (max-width: 1780px) and (min-width: 910px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
  @media screen and (min-width: 1780px) {
    grid-template-columns: repeat(6, minmax(250px, 1fr));
  }
}

.cardArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0px 40px;
}

// individual feature cards

.card {
  flex-basis: 250px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 20px;
  background-color: lighten($darkblue, 2%);

  img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 10px;
    object-fit: cover;
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    color: $turquoise;
  }

  p {
    margin-block: 3px;
    font-size: 14px;
    color: $white;
  }

  li {
    text-align: left;
  }
}

// team cards

.teamCardGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.TeamCard {
  width: 200px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lighten($darkblue, 2%);
  img {
    width: 100%;
    border-radius: 10px;
  }
  h3 {
    font-weight: 700;
    font-size: 20px;
    color: $turquoise;
    margin-bottom: 0px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .logoBox {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .logo {
    width: 30px;
    border-radius: 0px;
  }
}

//mainchartpage containers
.MainChartPagecontainer {
  display: flex;
  justify-content: center;
}

.MainChartPagecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 36px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  flex: 1;
  justify-content: center;
}
.MainChartPagecontainer {
  padding: 20px; /* add some padding to the content */
}

.MainCharts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.MainCharts {
  flex-basis: 100px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-bottom: 20px;
  background-color: $white;
  width: 500px;
}

//visualizer
.AuthenticContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 90vh;
}
.AuthenticContainerContents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  border-radius: 5%;
  height: auto;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.AuthenticContainerContents > button {
  display: inline-block;
  cursor: pointer;
  padding: 10px 16px;
  background-color: #0070d2;
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.AuthenticContainerContents > .CopyButton {
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  background-color: #ff6b6b;
  border-radius: 0.25rem;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

// footer
.footer {
  background-color: lighten($darkblue, 2%);
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  .disclaimer {
    display: inline-block;
    width: 335px;
    font-size: 12px;
    color: $white;
  }
  .links a {
    display: inline-block;
    color: $salmon;
    font-size: 18px;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
}
