@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


// key feature container and contents
.TeamCardContainer {
    display: flex;
    justify-content: center;
  }
  .TeamCardContainerContents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 36px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    flex: 1;
    justify-content: center;
  };
  .TeamContents {
    padding: 20px; /* add some padding to the content */
  }
  .TeamContents h1, h3{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    padding: 20px;
  }
  .TeamContents h1:hover {
    color: #FF6B6B;
    display: block;
  }
  //how to componenets
  /// keyfeature component
  /// /// keyfeature component
  .TeamCardComponents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .TeamCard {
    flex-basis: 100px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-bottom: 20px;
    background-color: white;
  }
  
  .TeamCard > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .TeamCard > h3 {
    font-weight: 700;
    font-size: 18px;
  }
  
  .TeamCardInfo{
    display: flex;
    align-items: center;
  }
  
  .TeamCardInfo > img {
    height: 11px;
    margin-right: 8px;
  }
  
  .TeamCardInfo > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
  }